[Unit]
Description=Raspotify
After=network.target

[Service]
User=raspotify
Group=raspotify
Restart=always
RestartSec=10
PermissionsStartOnly=true
WorkingDirectory=/opt/raspotify
ExecStart=/usr/bin/java -jar /opt/raspotify/librespot-core-jar-with-dependencies.jar

[Install]
WantedBy=multi-user.target
