apt-repo/
asound-conf-wizard/
*.deb
raspotify/DEBIAN/control
raspotify/usr/bin/librespot
raspotify/usr/share/doc/raspotify/copyright
raspotify/usr/share/doc/raspotify/librespot.copyright
raspotify/usr/share/doc/raspotify/readme
