apt-repo/
librespot/
raspotify*.deb
raspotify/DEBIAN/control
raspotify/usr/bin/librespot
raspotify/usr/share/doc/raspotify/copyright
raspotify/usr/share/doc/raspotify/librespot.copyright
raspotify/usr/share/doc/raspotify/readme
