Package: raspotify
Version: {{ VERSION }}
Section: base
Priority: optional
Installed-Size: {{ INSTALLED_SIZE }}
Architecture: {{ ARCHITECTURE }}
Depends: libc6 (>= 2.31), coreutils (>= 8.32), libasound2 (>= 1.2.4), alsa-utils (>= 1.2.4), libpulse0 (>= 14.2), systemd (>= 247.3), init-system-helpers (>= 1.60)
Maintainer: {{ RASPOTIFY_AUTHOR }}
Homepage: https://github.com/dtcooper/raspotify
Description: Raspotify
 A Spotify Connect systemd daemon for Debian Stable based headless systems which thinly wraps librespot.
 [Built with {{ RUST_VERSION }}]
