Package: raspotify
Version: {{ VERSION }}
Section: base
Priority: optional
Architecture: {{ ARCHITECTURE }}
Depends: libc6 (>= 2.31), libasound2 (>= 1.2.4), libpulse0 (>= 14.2), systemd (>= 247.3), init-system-helpers (>= 1.60)
Maintainer: {{ RASPOTIFY_AUTHOR }}
Description: Raspotify
 Spotify Connect daemon for the Raspberry Pi and other Debian based headless systems, based off librespot.
 [Built with {{ RUST_VERSION }}]
