Package: raspotify
Version: {{ VERSION }}
Section: base
Priority: optional
Architecture: {{ ARCHITECTURE }}
Depends: libasound2
Maintainer: {{ RASPOTIFY_AUTHOR }}
Description: Raspotify
 Spotify Connect client + daemon for the Raspberry Pi, based off librespot.
 [Built with {{ RUST_VERSION }}]
