Package: raspotify
Version: 0.6~librespot-d09f469-1
Section: base
Priority: optional
Architecture: armhf
Depends: libasound2, adduser
Maintainer: David Cooper <david@dtcooper.com>
Description: Raspotify
 Spotify Connect client + daemon for the Raspberry Pi, based off librespot
