[Unit]
Description=Raspotify Crash Report Generator
# Prevent this script if shutdown has been scheduled
ConditionPathExists=!/run/systemd/shutdown/scheduled

[Service]
Type=oneshot
ExecStart=/usr/bin/raspotify-crash-report-generator.sh
