name: Build test
on: [pull_request, push, workflow_dispatch]
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
permissions:
  contents: read
jobs:
  build:
    strategy:
      matrix:
        arch: [armhf, arm64, amd64, riscv64]
      fail-fast: false
    name: Build on ${{ matrix.arch }}
    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.owner.login != github.event.pull_request.base.repo.owner.login
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v5
    - run: make ${{ matrix.arch }}
