name: Tag Automation
on:
  issues:
    types:
      - labeled
jobs:
  close-read-the-field-manual:
    if: github.event.label.name == 'read-the-field-manual'
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - name: Close read-the-field-manual
        uses: peter-evans/close-issue@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          issue-number: ${{ github.event.issue.number }}
          comment: |
            This question or issue can probably be easily answered or resolved by reading the docs/wiki.
  comment-unreleased-fix:
    if: github.event.label.name == 'unreleased-fix'
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - name: Comment unreleased-fix
        uses: peter-evans/create-or-update-comment@v5
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          issue-number: ${{ github.event.issue.number }}
          body: |
            The fix has been pushed to master and will appear in a release soon.
  close-unsupported-device:
    if: github.event.label.name == 'unsupported-device'
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - name: Close unsupported-device
        uses: peter-evans/close-issue@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          issue-number: ${{ github.event.issue.number }}
          comment: |
            The device referenced is unsupported. armhf (ARMv7), arm64 and amd64 packages are provided. Support for ARMv6 devices (Pi 1, Pi Zero 1.x) has been dropped.
  close-unsupported-os:
    if: github.event.label.name == 'unsupported-os'
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - name: Close unsupported-os
        uses: peter-evans/close-issue@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          issue-number: ${{ github.event.issue.number }}
          comment: |
            The OS referenced is unsupported.
  close-unsupported-configuration:
    if: github.event.label.name == 'unsupported-configuration'
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - name: Close unsupported-configuration
        uses: peter-evans/close-issue@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          issue-number: ${{ github.event.issue.number }}
          comment: |
            The configuration referenced is unsupported. Examples would be using Raspotify on a desktop system, in a docker container or in conjunction with other audio services/programs.
  comment-upstream:
    if: github.event.label.name == 'upstream'
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - name: Comment upstream
        uses: peter-evans/create-or-update-comment@v5
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          issue-number: ${{ github.event.issue.number }}
          body: |
            This is an upstream issue. You should file an issue with librespot.
  comment-need-more-info-to-fix:
    if: github.event.label.name == 'need-more-info-to-fix'
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - name: Comment need-more-info-to-fix
        uses: peter-evans/create-or-update-comment@v5
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          issue-number: ${{ github.event.issue.number }}
          body: |
            More info has been requested. The issue will be closed shortly if it's not provided.
  close-invalid:
    if: github.event.label.name == 'invalid'
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - name: Close invalid
        uses: peter-evans/close-issue@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          issue-number: ${{ github.event.issue.number }}
          comment: |
            This issue is invalid.
  comment-out-of-scope:
    if: github.event.label.name == 'out-of-scope'
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - name: Comment out-of-scope
        uses: peter-evans/create-or-update-comment@v5
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          issue-number: ${{ github.event.issue.number }}
          body: |
            This issue/bug/feature request is out of scope of the Raspotify project.
  close-wontfix:
    if: github.event.label.name == 'wontfix'
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - name: Close wontfix
        uses: peter-evans/close-issue@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          issue-number: ${{ github.event.issue.number }}
          comment: |
            This issue has been marked wontfix and may not even be a bug at all.
